{% stylesheet %}
.store-header {
    width: 100%;
    border-bottom: 1px solid #ececec;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--font-sans);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
}

.store-header__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 100%;
}

.store-header__top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
    flex-wrap: wrap;
}

.store-header__brand {
    position: absolute;
    left: 1.5rem;
    flex: 1 1 auto;
    min-width: 180px;
}

.store-header__brand-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}


.store-header__logo-text {
    font-size: 1.25rem;
    font-weight: 700;
    color: #111;
    font-family: var(--font-sans);
}

.store-header__nav {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.store-header__nav-link {
    color: #8B6F5C;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    transition: color 0.2s ease;
    font-family: var(--font-sans);
    letter-spacing: 1px;
    white-space: nowrap;
    text-transform: uppercase;
}

.store-header__nav-link:hover {
    color: #6B5F4C;
}

.store-header__actions {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.store-heade8B6F5C;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: color 0.2s ease;
}

.store-header__action-link:hover {
    color: #6B5F4Caction-link:hover {
    color: #000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}
{% endstylesheet %}

<header class="store-header" style="background-image: url('{{ 'header-floral-background.jpg' | asset_url }}');">
    <div class="store-header__container">
        <div class="store-header__brand">
            <a href="{{ shop.url }}" class="store-header__brand-link">
            </a>
        </div>

        <div class="store-header__top">
            <nav class="store-header__nav" aria-label="Primary navigation">
                {% for link in linklists.main-menu.links %}
                <a href="{{ link.url }}" class="store-header__nav-link">{{ link.title }}</a>
                {% endfor %}
            </nav>

            <div class="store-header__actions">
                <a href="/account" class="store-header__action-link">
                <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" fill="currentColor"/>
                </svg>
                </a>
                <a href="/cart" class="store-header__action-link">
                <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2 2 2 0 0 0 2-2c0-1.11-.89-2-2-2M1 2v2h2l3.6 7.59L5.24 14.04c-.15.28-.24.61-.24.96a2 2 0 0 0 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25 0-.05.01-.09.03-.12L8.1 13h7.45c.75 0 1.41-.42 1.75-1.03l3.58-6.49c.07-.16.12-.33.12-.51a1 1 0 0 0-1-1H5.21l-.94-2M7 18c-1.11 0-2 .89-2 2a2 2 0 0 0 2 2 2 2 0 0 0 2-2c0-1.11-.89-2-2-2z" fill="currentColor"/>
                </svg>
                </a>
            </div>
        </div>
    </div>
</header>


{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "id": "header",
            "label": "Number of products to show",
            "type": "number",
            "default": 4
        }

    ]  

}   
{% endschema %}