<header class="relative w-full h-80 overflow-hidden">
  <div class="absolute inset-0">
    {% if section.settings.background_image_header != blank %}
    {{ section.settings.background_image_header | image_url: width: 2000 | image_tag: class: 'w-full h-full object-cover object-center', loading: 'lazy' }}
    {% else %}
    <img src="{{ 'header-floral-background.jpg' | asset_url }}" alt="Header background"
      class="w-full h-full object-cover object-center">
    {% endif %}
  </div>
</header>

{% schema %}
{
  "name": "HeaderPagina",
  "settings": [
        {
        "type": "image_picker",
        "id": "background_image_header",
        "label": "Background Image"
        
        }
  ]
}
{% endschema %}

